ul{
    background-color: black;
}
li{
    display: inline-block;
    padding: 20px;
    list-style: none;
}
a{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
}
a:hover{
    color: greenyellow;
}
span{
    color: red;
    margin: 0 100px;
}